<div class="container">
  <div class="row">
    <h3>募集チーム一覧</h3>
    <% @posts.each do |post| %>
      <div class="team-name">
        <%= link_to user_path(post.user.id) do %>
          <%= post.user.name %>
        <% end %>
      </div>
      <div class="place-name">
        <%= post.place %>
      </div>
      <div class="schedule">
        <%= post.schedule %>
      </div>
      <div class="detail">
        <%= link_to "募集詳細", post_path(post.id) %>
      </div>
    <% end %>
  </div>
</div>

