<div class="container">
  <h3 class="d-flex justify-content-center">募集チーム一覧</h3>
  <% @posts.each do |post| %>
    <div class="row d-flex justify-content-center mb-4">
      <div class="col-lg-3">
        <%= link_to user_path(post.user.id) do %>
          <%= post.user.name %>
        <% end %>
      </div>
      <div class="col-lg-4">
        会場：<%= post.place %>
      </div>
      <div class="col-lg-4">
        <%= post.schedule %>
      </div>
      <div class="detail">
        <%= link_to "募集詳細", post_path(post.id) %>
      </div>
    </div>
  <% end %>
</div>

