<div class="container">
  <div class="d-flex justify-content-center mt-4">
    <h3>メンバーの募集をかけよう！</h3>
  </div>
  <%= form_with model: @post, local: true do |f| %>
    <div class="form-group">
      <%= f.label :place, "会場" %>
      <%= f.text_field :place, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :schedule, "開催日時" %>
      <%= f.text_field :schedule, autofocus: true, placeholder: "○○月○○日（○）　○○時〜○○時", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :body, "詳細" %>
      <%= f.text_area :body, autofocus: true, size: '10x10', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact, "連絡URL" %>
      <%= f.text_field :contact, autofocus: true, placeholder: "LabolaやオープンチャットのURL", class: 'form-control' %>
    </div>
    <div class="d-flex justify-content-center">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>