<div class="container">
  <div class="low">
    <h3>メンバーの募集をかけよう！</h3>
    <%= form_with model: @post do |f| %>
      <div class="field">
        <%= f.label :place, "会場" %>
        <%= f.text_field :place, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :schedule, "開催日時" %>
        <%= f.text_field :schedule, autofocus: true, placeholder: "○○月○○日（○）　○○時〜○○時" %>
      </div>
      <div class="field">
        <%= f.label :body, "詳細" %>
        <%= f.text_area :body, autofocus: true %>
      </div>
      <div class="field">
        <%= f.label :contact, "連絡URL" %>
        <%= f.text_field :contact, autofocus: true, placeholder: "LabolaやオープンチャットのURL" %>
      </div>
      <div>
        <%= f.submit "投稿" %>
      </div>
    <% end %>
  </div>
</div>