<!DOCTYPE html>
<html>
  <head>
    <title>Futsal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav d-flex align-items-center">
          <!--ログインしているかどうか-->
          <% if current_user %>
            <li class="nav-item"><%=link_to "募集一覧", posts_path  %></li>
            <li class="nav-item"><%=link_to "新規募集", new_post_path  %></li>
            <li class="nav-item"><%=link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
            <li class="nav-item"><%=link_to "募集一覧", posts_path %></li>
            <li class="nav-item"><%=link_to "チーム登録", new_user_path %></li>
            <li class="nav-item"><%=link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
